ul.comment-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul.comment-list ul.children {
    list-style-type: none;
}

/* *** pagination *** */
.elementor-widget-comments .pagination {
    padding: 0;
}

.elementor-widget-comments .current {
    font-weight: bold;
}

.elementor-widget-comments .elebee-icon i {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

.elementor-widget-comments .elebee-icon i::before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elementor-widget-comments .pagination li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.elebee-view-framed .elebee-button-icon {
    border: 2px solid #6ec1e4;
}

.elebee-view-stacked .elebee-button-icon {
    background-color: #6ec1e4;
}

.elebee-align-icon-left {
    float: left;
}

.elebee-align-icon-right {
    float: right;
}

.elebee-display-inline {
    display: inline;
}