.elebee-newsticker-wrapper {
  overflow: hidden;
}

.elebee-newsticker-content {
  box-sizing: content-box;
  display: block;
  white-space: nowrap;
  width: 100%;
}

.elebee-newsticker-content > span {
  display: inline-block;
}

.elebee-newsticker-right {
  right: -100%;
  position: relative;
}

.elebee-newsticker-right:last-of-type {
  transform: translateX(-100%);
}

.elebee-newsticker-paused:hover > span {
  animation-play-state: paused;
}

.elebee-newsticker-animate {
  animation: newsticker infinite linear;
}

.elebee-newsticker-animate-200 {
  animation: newsticker-200 infinite linear;
}

.elebee-newsticker-animate-300 {
  animation: newsticker-300 infinite linear;
}

@keyframes newsticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes newsticker-200 {
  100% {
    transform: translateX(-200%);
  }
}

@keyframes newsticker-300 {
  100% {
    transform: translateX(-300%);
  }
}

