.elebee-newsticker-wrapper {
  overflow: hidden;
}

.elebee-newsticker-content {
  box-sizing: content-box;
  display: block;
  white-space: nowrap;
  width: 100%;
}

.elebee-newsticker-content > span {
  display: inline-block;
  min-width: 100%;
  animation: newsticker infinite linear running;
}

.elebee-newsticker-paused:hover > span {
  animation-play-state: paused;
}

.elebee-newsticker-right {
  right: -100%;
  position: relative;
}

@keyframes newsticker {
  100% {
    right: 0;
    transform: translateX(-100%);
  }
}