.elebee-newsticker-wrapper {
  overflow: hidden;
}

.elebee-newsticker-content {
  white-space: nowrap;
  box-sizing: content-box;
  width: 100%;
}

.elebee-newsticker-content > div {
  min-width: 100%;
  display: inline-block;
}

.elebee-newsticker-first {
  animation: newsticker infinite linear;
  transform: translateX(100%);
}

.elebee-newsticker-first.elebee-newsticker-left {
  transform: translateX(0);
}

.elebee-newsticker-secound {
  animation: newsticker-secound infinite linear;
  margin-left: -4px;
}

.elebee-newsticker-secound.elebee-newsticker-left {
  animation: newsticker infinite linear;
  margin-left: 0;
}

@keyframes newsticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes newsticker-secound {
  100% {
    transform: translateX(-200%);
  }
}
