div.cfs-table-th,
div.cfs-table-td {
  display: inline-block;
}

div.cfs-table-th {
  font-weight: bold;
}

table.cfs-table {
  width: 100%;
}

.youtube-container {
	position: relative;
}

.youtube-container::before {
	content: '';
	display: block;
	padding-top: 60%;
	width: 100%;
}

.youtube-video {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}