.custom-css input[type='button'] {
  vertical-align: bottom;
  min-width: 45%;
  cursor: pointer;
}

.custom-css .button-description {
  display: inline-block;
  line-height: 1;
}

.custom-css .button-description .custom-css-windows {
  height: 11px;
  padding-right: 3px;
}

.custom-css .button-description .custom-css-apple {
  height: 13px;
  padding-right: 1px;
}

/* *** ToDo: remove, if editor selection is integrated *** */
.wp-editor-container .cm-s-mdn-like.CodeMirror {
  background-image: none;
}

.edit-post-text-editor{
  min-width: 97%;
}

.post-type-elebee-global-css .wp-block{
  max-width: 100%;
}

.post-type-elebee-global-css .CodeMirror {
  min-height: 70vh;
  height:auto;
}

.post-type-elebee-global-css .CodeMirror-scroll {
  min-height: calc(100vh - 400px);
}

.edit-post-text-editor {
  padding-top: 0;
}

.edit-post-text-editor__body{
  padding-top: 20px;
}