.comment-form .elementor-field-group  > p {
    margin: 0;
}

.elementor-widget-comment_form form::after {
    content: '';
    display: block;
    clear: both;
}

.elementor-widget-comment_form form > .elementor-column {
    float: left;
    position: relative;
}

.elementor-widget-comment_form form.elebee-labels-above > .elementor-column {
    flex-flow: row wrap;
}

.elementor-widget-comment_form form label {
    flex: 1;
}

.elementor-widget-comment_form form label:after {
    display: block;
    content: '';
    flex-basis: 100%;
    height: 0;
}

.elementor-widget-comment_form form input:not([type="submit"]):not([type="checkbox"]),
.elementor-widget-comment_form form textarea {
    width: 100%;
    border: 1px solid #000;
    margin: 0 5px;
}
.elementor-widget-comment_form form textarea {
    line-height: 1.9;
}

.elementor-widget-comment_form form input[type="checkbox"] {
    margin: 0 5px;
}

.elementor-widget-comment_form form .form-error {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #f22;
    z-index: 100;
}

.elebee-checkbox-style {
    display: flex;
    flex-flow: column;
}

.elebee-checkbox-style > * {
    display: flex;
}


.elebee-rating-stars {
    display: flex;
    align-self: flex-start;
    padding-left: 2rem;
}

.elebee-rating-star {
    padding-left: 2rem;
    display: inline;
    position: relative;
}

.elebee-rating-star label {
    display: none !important;
}

.elebee-rating-star input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.elebee-rating-star input.checked ~ i {
    color: orange;
}

.elebee-rating-star input.hover ~ i {
    color: darkorange;
}

.elebee-rating-star i {
    position: absolute;
    top: 0;
    left: 0;
}

.showmore {
    font-weight: 400;
    color: #222222;
}

.showmore:hover {
    color: #333333;
}

.comment-form-error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 1rem;
}

.comment-form-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 1rem;
}