/* Responsive Toggle */
$color: (
  error: #dc3232,
  success: #46b450,
);

#elementor-panel-footer-responsive-toggle {
  color: map-get($color, error);

  &.responsive-toggle {
    color: map-get($color, success);
  }
}

/* elementor switcher fix */
.elementor-control.elementor-control-type-switcher .elementor-switch-label:before {
  text-indent: -1rem;
  z-index: 10;
}

.elementor-control-sectionElebeeSticky {
  opacity: 0.6;
}

