/* Responsive Toggle */

#elementor-panel-footer-responsive-toggle {
  color: #cc3333;

  &.responsive-toggle {
    color: #33cc33;
  }
}

/* elementor switcher fix */
.elementor-control.elementor-control-type-switcher .elementor-switch-label:before {
  text-indent: -1rem;
  z-index: 10;
}
